<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>clientservlet</servlet-name>
  	<display-name>clientservlet</display-name>
  	<servlet-class>clientservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginpersonel</servlet-name>
  	<display-name>loginpersonel</display-name>
  	<description></description>
  	<servlet-class>loginpersonel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>personnelservlet</servlet-name>
  	<display-name>personnelservlet</display-name>
  	<description></description>
  	<servlet-class>personnelservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InscriptionServlet</servlet-name>
  	<display-name>InscriptionServlet</display-name>
  	<description></description>
  	<servlet-class>InscriptionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RechercheVoitureServlet</servlet-name>
  	<display-name>RechercheVoitureServlet</display-name>
  	<description></description>
  	<servlet-class>RechercheVoitureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>recherche</servlet-name>
  	<display-name>recherche</display-name>
  	<description></description>
  	<servlet-class>recherche</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationServlet</servlet-name>
  	<display-name>ReservationServlet</display-name>
  	<description></description>
  	<servlet-class>ReservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>paymentservlet</servlet-name>
  	<display-name>paymentservlet</display-name>
  	<description></description>
  	<servlet-class>paymentservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjoutVoitureServlet</servlet-name>
  	<display-name>AjoutVoitureServlet</display-name>
  	<description></description>
  	<servlet-class>AjoutVoitureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>rechercherperso</servlet-name>
  	<display-name>rechercherperso</display-name>
  	<description></description>
  	<servlet-class>rechercherperso</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RechercherPersoReserve</servlet-name>
  	<display-name>RechercherPersoReserve</display-name>
  	<description></description>
  	<servlet-class>RechercherPersoReserve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>traitementservlet</servlet-name>
  	<display-name>traitementservlet</display-name>
  	<description></description>
  	<servlet-class>traitementservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<display-name>delete</display-name>
  	<description></description>
  	<servlet-class>delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDisponibiliteServlet</servlet-name>
  	<display-name>UpdateDisponibiliteServlet</display-name>
  	<description></description>
  	<servlet-class>UpdateDisponibiliteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>reservationclient</servlet-name>
  	<display-name>reservationclient</display-name>
  	<description></description>
  	<servlet-class>reservationclient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>retourclient</servlet-name>
  	<display-name>retourclient</display-name>
  	<description></description>
  	<servlet-class>retourclient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>facturation</servlet-name>
  	<display-name>facturation</display-name>
  	<description></description>
  	<servlet-class>facturation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>paypalservlet</servlet-name>
  	<display-name>paypalservlet</display-name>
  	<description></description>
  	<servlet-class>paypalservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewPaymentServlet</servlet-name>
  	<display-name>ReviewPaymentServlet</display-name>
  	<description></description>
  	<servlet-class>ReviewPaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthorizePaymentServlet</servlet-name>
  	<display-name>AuthorizePaymentServlet</display-name>
  	<description></description>
  	<servlet-class>AuthorizePaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>executepaiment</servlet-name>
  	<display-name>executepaiment</display-name>
  	<description></description>
  	<servlet-class>executepaiment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>affichervoituredispo</servlet-name>
  	<display-name>affichervoituredispo</display-name>
  	<description></description>
  	<servlet-class>affichervoituredispo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>affichervoiturenondispo</servlet-name>
  	<display-name>affichervoiturenondispo</display-name>
  	<description></description>
  	<servlet-class>affichervoiturenondispo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>affichervoiture</servlet-name>
  	<display-name>affichervoiture</display-name>
  	<description></description>
  	<servlet-class>affichervoiture</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentServlett</servlet-name>
  	<display-name>PaymentServlett</display-name>
  	<description></description>
  	<servlet-class>PaymentServlett</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>aff</servlet-name>
  	<display-name>aff</display-name>
  	<description></description>
  	<servlet-class>aff</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getAllproduct</servlet-name>
  	<display-name>getAllproduct</display-name>
  	<description></description>
  	<servlet-class>getAllproduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CatalogueServlet</servlet-name>
  	<display-name>CatalogueServlet</display-name>
  	<description></description>
  	<servlet-class>CatalogueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>clientservlet</servlet-name>
  	<url-pattern>/clientservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginpersonel</servlet-name>
  	<url-pattern>/loginpersonel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>personnelservlet</servlet-name>
  	<url-pattern>/personnelservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InscriptionServlet</servlet-name>
  	<url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RechercheVoitureServlet</servlet-name>
  	<url-pattern>/RechercheVoitureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>recherche</servlet-name>
  	<url-pattern>/recherche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationServlet</servlet-name>
  	<url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>paymentservlet</servlet-name>
  	<url-pattern>/paymentservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjoutVoitureServlet</servlet-name>
  	<url-pattern>/AjoutVoitureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rechercherperso</servlet-name>
  	<url-pattern>/rechercherperso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RechercherPersoReserve</servlet-name>
  	<url-pattern>/RechercherPersoReserve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>traitementservlet</servlet-name>
  	<url-pattern>/traitementservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDisponibiliteServlet</servlet-name>
  	<url-pattern>/UpdateDisponibiliteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>reservationclient</servlet-name>
  	<url-pattern>/reservationclient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>retourclient</servlet-name>
  	<url-pattern>/retourclient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>facturation</servlet-name>
  	<url-pattern>/facturation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>paypalservlet</servlet-name>
  	<url-pattern>/paypalservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewPaymentServlet</servlet-name>
  	<url-pattern>/ReviewPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthorizePaymentServlet</servlet-name>
  	<url-pattern>/AuthorizePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>executepaiment</servlet-name>
  	<url-pattern>/executepaiment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>affichervoituredispo</servlet-name>
  	<url-pattern>/affichervoituredispo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>affichervoiturenondispo</servlet-name>
  	<url-pattern>/affichervoiturenondispo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>affichervoiture</servlet-name>
  	<url-pattern>/affichervoiture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentServlett</servlet-name>
  	<url-pattern>/PaymentServlett</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>aff</servlet-name>
  	<url-pattern>/aff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getAllproduct</servlet-name>
  	<url-pattern>/getAllproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CatalogueServlet</servlet-name>
  	<url-pattern>/CatalogueServlet</url-pattern>
  </servlet-mapping>
</web-app>
